<% include ../base/header %>

<div class="container d-flex justify-content-center">
    <form class="form py-4 px-5 bg-dark text-white" method="post" action="signin" style="margin-top: 25vh;">
        <div class="form-group">
            <label for="profilePic">Profile Pic</label>
            <input class="form-control" type="file" name="profilePic">
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="submit">
        </div>
    </form>
</div>


<% include ../base/footer %>