<ul class="nav flex-column nav-pills bg-dark text-grey h-100 left-navigation">
    <li class="nav-item">
        <a class="nav-link <%= page == 'home' ? 'active' : '' %>" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link <%= page == 'team' ? 'active' : '' %>" href="/team">Team</a>
    </li>
    <li class="nav-item">
        <a class="nav-link <%= page == 'match' ? 'active' : '' %>" href="match">Match</a>
    </li>
</ul>