<% include ../base/header %>

<div class="row no-gutters">
    <div class="col-md-2">
        <%- include('../includes/left-side-nav.ejs', {page: 'match'}) %>
    </div>

    <div class="col-md-10"></div>
</div>

<% include ../base/footer %>